/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroImage1.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center ;
    position: absolute;
    top: 17%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: white;
}
.navbar-custom {
    background-color: lightgreen;
}
.navbar {
    background-color: black; /* Change the background color of the navbar */
  }
  
  .navbar a {
    color: white; /* Change the color of the links in the navbar */
  }





  #slideshow {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
  }
  
  .slideshow-container {
    position: relative;
  }
  
  .slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 5px black;
    cursor: pointer;
    z-index: 999;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  





  
  

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.interestsText.card {
    height: 280px;
    cursor: pointer;
  }
.interestsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #b48c8c;
}
.interestsText:hover {
    border: 1px solid #b48c8c;
}
/*008000>
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/* spacing on all sections */
#about, #interests, #resume, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}

